*{
	margin: 0;
	padding: 0;

}



body{
	height: 100vh;
	overflow-y: auto;
	background: #333f48;
}

/* Center all website */
main{
	margin: 10px 0;
	max-width: 1024px;
	margin: auto;
	background: white;
}

/* head */
header{
 height: 16%;
 text-align: center;
 background-color: #ff4700;
}


header nav ul {
	padding-top: 20px;
}

header nav ul li{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
}

header nav ul li a{
	color: white;
	text-decoration: none;
}

header nav ul li a:hover{
	text-decoration: underline;
}

header h1{
	color: white;
}
/* End of head */


#about{
	padding-top: 70px;
	text-align: center;
}

#man{
	margin: 20px 0;
	border-bottom: 1px solid black;
	height: 370px;
}

#man img{
	vertical-align: top;
	display: inline-block;
	width: 25%;
}

.text{
	display: inline-block;
	width: 50%;
}
#man p{
	padding-bottom: 20px;
}

#man a{
	margin-left: 400px;
	background-color: black;
	color: white;
	padding: 15px;
	border-radius: 10px;
}

/* Table */
#timetable{
	text-align: center;
	padding-top: 50px;
	border-bottom: 1px solid black;
	padding-bottom: 50px;
}

#timetable h2{
}

table{
	margin: 0 auto;
	width: 97%;
	border-collapse: collapse;
	margin-top: 20px;
}

th{
	background: #ea9f26;
	color: white;
	text-align: left;
	padding: 5px 5px;
}

td{
	text-align: center;
	border: 1px solid #cccccc;
	font-weight: bold;
	padding: 10px 0;
}

td a{
	color: #ab230d;
}
/* End of table */

/* Poem */
#neris{
	text-align: center;
	margin: 50px 0;
	padding-bottom: 50px;
	border-bottom: 1px solid black;

}

#neris span{
	display: block;
}

#neris h2{
	padding-bottom: 20px;
}

#neris h3{
	line-height: 40px;
}

#neris .enter{
	padding: 10px;
}
/* End of poem */

#contacts h2{
	text-align: center;
	padding-bottom: 20px;
}

/* Footer */
footer h2{
	text-align: center;
}

footer img{
	margin: 2% 1%;
}

footer{
	text-align: center;
	background: #333f48;
	width: 100%;
	color: #999f94;
}